.container-6 {
  margin: 0 auto;
  text-align: center;
  align-items: center;
}
.container-8 {
  margin: 0 auto;
  text-align: left;
  align-items: left;
  flex-wrap: wrap;
}
.bground {
  margin: 0 auto;
  text-align: center;
  align-items: center;
  display: flex;
  background: url(./Pictures/w3.jpg);
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  color: cornsilk;
  -webkit-text-stroke: 2px black;
  font-weight: bolder;
}

.data1 {
  text-align: center;
  vertical-align: middle;

  background: url(./Pictures/scoreccard2.jpg);
  background-size: cover;
  background-attachment: fixed;
}

h2 {
  color: cornsilk;
  -webkit-text-stroke: 2px black;
  font-weight: bolder;
}

h3 {
  color: cornsilk;
  -webkit-text-stroke: 2px black;
  font-weight: bolder;
}

.spanWords {
  font-size: 27px;
  font-weight: bolder;
  color: aliceblue;
  font-family: "Courier New", Courier, monospace;
  -webkit-text-stroke: crimson 1px;
  margin-left: 2em;
}
.spanWordsOne {
  font-size: 27px;
  font-weight: bolder;
  color: aliceblue;
  font-family: "Courier New", Courier, monospace;
  -webkit-text-stroke: black 1px;
  margin-left: 2em;
}
.info {
  text-align: left;
}
